<footer class="py-5 bg-dark">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="text-center center-block">
            <br />
                <a href="https://www.facebook.com"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://plus.google.com"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                <a href="mailto:fidelrojas35@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
            <br />

        </div>
    </div>
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 2019 UCB, Inc. · <a href="#">Privacidad</a> · <a href="#">Terminos</a></p>

    <div >
    <p (click)="topFunction()" class="float-right"><a class="badge badge-light">Volver arriba</a></p>
    </div>

    </div>
    
    
    


</footer>