<!-- Page Content -->
<div class="container">
  <!-- Heading Row -->
  <div class="row align-items-center my-5">
    <div class="col-lg-6">
      <img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/400x400" alt="">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-6">
      <h1 class="font-weight-light">{{equipo.nombre}}</h1>

      <p><b>Entrenador: </b>{{equipo.entrenador}}</p>
      <p><b>Fundación: </b>{{equipo.fundacion}}</p>
      <p><b>Estadio: </b>{{equipo.estadio}}</p>
      <div class="btn-group" role="group">
          <a (click)="onEdit()" class="btn btn-primary  ">Editar</a>
          <a (click)="onDelete(equipo)" class="btn btn-danger " >Eliminar</a>
      </div>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->

  <!-- Call to Action Well -->
  <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">      
          <p><b>Info: </b>{{equipo.info}}</p>
    </div>
  </div>
  
  <app-jugadores [idEqipo]="equipoId"></app-jugadores>

</div>
<!-- /.container -->