<div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3">Editar Jugador</h1>

      
        <form (ngSubmit)="onSubmitEdit(jugador)">

            <div class="form-group row">
            
                <div class="col">
                        <label for="inputJugador">Nombre</label>

    
                <input type="text" name="nombreJugador" [(ngModel)]="jugador.nombre" placeholder="Nombre"class="form-control">
                <small id="nombreHelp" class="form-text text-muted">*El nombre es obligatorio</small>

            </div>
                
                
    
            </div>
            <div class="form-group row">
            <div class="col">
                    <label for="inputJugador">Numero</label>

            <input type="text" name="numero" [(ngModel)]="jugador.numero" placeholder="Numero"class="form-control">
            <small id="numberHelp" class="form-text text-muted">*El numero es obligatorio</small>

            </div>
            <div class="col">
            <label for="inputJugador">Posicion</label>
            <!-- <input type="text" name="posicion" [(ngModel)]="jugador.posicion" placeholder="Posicion" class="form-control"> -->
            <select name="posicion" form="addJugador" [(ngModel)]="jugador.posicion" class="form-control">
                <option value="Delantero">Delantero</option>
                <option value="Mediocampista">Mediocampista</option>
                <option value="Defensor">Defensor</option>
                <option value="Arquero">Arquero</option>
            </select>
            </div>
            
            

        </div>
        <div class="form-group row">
            
            <div class="col">
                    <label for="inputJugador">Pais</label>

            <input type="text" name="pais" [(ngModel)]="jugador.pais" placeholder="Pais"class="form-control">
            </div>
            <div class="col">
                    <label for="inputJugador">Alura</label>

                <input [(ngModel)]="jugador.altura" (click)="alturaCal()" id="altura" class="custom-range" type="range" value="180" min="150" max="200" name="altura"/>
                <div id="alturadiv">
                    <div id="alturadiv"> <b>{{jugador.altura}}</b> <i> cm.</i></div>
                </div>
            </div>
            

        </div>
       
        <div class="form-group">
            <input type="submit" value="Editar" class="btn btn-success" >
            <input type="button"routerLink="../../../" value="Cancelar" class="btn btn-secondary" >

        </div>
        </form>
    </header>
</div>